@import 'tailwindcss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

hr {
  border-color: #d1d5dc;
}
@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 25vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(6, 7.5vh);
  }
}
